.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    height: 605px;
    width: 50%;
    padding: 0.5em;
    margin: auto;
}
.caja{
    border: 1px solid black;
    height: 9.375rem;
    width: calc(33.33% - 1.5em);
    float: left;
    margin: 0.5em;
}
.contenedor div:nth-child(1n+4){
    background-color: green;
}
.contenedor div:nth-child(1n+7){
    background-color: blue;
}
.contenedor div:nth-child(4n+2){
    visibility: hidden;
}
.contenedor div:nth-child(4n){
    display: none;
}