*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1000px;
    height: 300px;
    background-color: lightgreen;
    margin: 40px auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.contenido{
    width: 150px;
    height: 50px;
    background-color: lightsalmon;
    color: white;
    text-align: center;
    padding: 20px;
}