*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container:nth-child(1){
    width: 100%;
    max-width: 800px;
    height: 100px;
    background-color: grey;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container:nth-child(1) .item{
    background-color: rgb(187, 137, 0);
    border: 1px solid black;
    height: 50px;
    flex-shrink: 0;
}

.container:nth-child(1) .item:nth-child(1){
    order: 1;
    flex-basis: 200px;
}

.container:nth-child(1) .item:nth-child(2){
    order: 1;
    flex-basis: 300px;
}

.container:nth-child(1) .item:nth-child(3){
    flex-basis: 200px;
}

.container:nth-child(1) .item:nth-child(4){
    flex-basis: 200px;
}

.container:nth-child(1) .item p{
    margin: 15px;
}

.container:nth-child(2){
    width: 100%;
    max-width: 800px;
    height: 300px;
    background-color: rgb(1, 112, 70);
    margin: 40px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container:nth-child(2) .item{
    background-color: rgb(187, 137, 0);
    border: 1px solid black;
    height: 240px;
    flex-shrink: 1;
}

.container:nth-child(2) .item:nth-child(1){
    flex-basis: 300px;
}

.container:nth-child(2) .item:nth-child(2){
    flex-basis: 150px;
}

.container:nth-child(2) .item:nth-child(3){
    flex-basis: 300px;
}