*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    width: 100%;
    height: 15%;
    background-color: rgb(0, 0, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .nombre h1{
    font-weight: 100;
    color: white;
}

.menu ul{
    display: flex;
    list-style: none;
    width: 400px;
    height: 50px;
    background-color: red;
    justify-content: space-between;
    padding: 10px;
}

.menu ul li{
    padding: 5px;
    width: 70px;
    color: white;
}

main{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .item{
    width: 30%;
    height: 80%;
    text-align: left;
    padding: 20px;
}

main .item:nth-child(3){
    background-color: orange;
}

main .text p{
    margin-top: 20px;
}

main .item:nth-child(3){
    align-self: baseline;
    height: 100%;
}

hr{
    margin-top: 20px;
    height: 3px;
    background-color: black;
    border: none;
}

.imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgs > div{
    height: 40%;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.imgs > div .img:nth-child(2){
    align-self: flex-end;
}

.img{
    height: 50%;
    width: 50%;
    background-color: brown;
}

.img p{
    color: white;
}


footer{
    width: 100%;
    height: 10%;
    background-color: rgb(0, 0, 51);
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
}

footer .redes ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: orange;
    list-style: none;
}

footer .redes ul li{
    width: 40%;
}

footer .redes ul li p{
    color: white;
    font-size: 20px;
}