html {
	box-sizing: border-box;
	font: 87.5% / 1.4 HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

.wrapper {
	list-style: none;
	margin: 0 auto 0 auto;
	padding: 0;
	display: grid;
	max-width: 960px;
	grid-template-columns: 1fr;   
	grid-template-rows: auto;
	grid-auto-flow: dense;
}

.wrapper li {
	margin: 0.5em;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5em;
}

@media all and (min-width:768px){
	.wrapper{
		grid-template-columns: repeat(2, 1fr);
	}
	.wrapper .text{
		grid-column: 1 / 3;
	}
}

@media all and (min-width:1024px){
	.wrapper{
		grid-template-columns: repeat(8, 1fr);
	}
	.wrapper li:nth-child(1){
		grid-column: 3 / 7;
		grid-row: 1 / 5;
	}
	
	.wrapper li:nth-child(2){
		grid-column: 1 / 3;
		grid-row: 1 / 3;
	}

	.wrapper li:nth-child(3){
		grid-column: 7 / 9;
		grid-row: 1 / 3;
	}
	.wrapper li:nth-child(4){
		grid-column: 1 / 3;
		grid-row: 3 / 5;
	}
	
	.wrapper li:nth-child(5){
		grid-column: 1 / 5;
		grid-row: 5 / 9;
	}

	.wrapper li:nth-child(6){
		grid-column: 7 / 9;
		grid-row: 3 / 5;
	}

	.wrapper li:nth-child(7){
		grid-column: 5 / 7;
		grid-row: 5 / 9;
	}

	.wrapper li:nth-child(8){
		grid-column: 1 / 4;
		grid-row: 9 / 13;
	}

	.wrapper li:nth-child(9){
		grid-column: 7 / 9;
		grid-row: 5 / 9;
	}	
}