/* IMPORTANTE para evitar descuadres */
* {
	box-sizing: border-box;
}

/* Definimos un contenedor auxiliar para especificar el tamaño de la página y alineación */
.centrado{
	width: 80%;
	margin: 0 auto;
}

.menu{
	margin-left: 1em;
}

.menu-item{
	width: 7rem;
}

/* En este caso se opta por la altura en em para que se adapte al tamaño de fuente de los elementos de la clase menú*/
.topdown{
	height: 6em;
	border-radius: 1em;
	border: 1px solid black;
}

/* Estilos de cada ítem de menú */
.menu div.menu-item{
	text-align: center;
	padding: 0.25em;
	background-color: blue;
	color: lightgrey;
}

/* Display flex para alinear el menú en la cabecera */
#cabecera{
	background-color: lightblue;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.menu{ 
	display: flex;
}

/* Importante definir la altura en el contenedor principal con alguna unidad que no sea porcentaje. Así se calculan bien las de los elementos internos */
.main_container{		
	border: 1px solid black;
	padding: 0.5rem;
	height: 65vh;
	box-shadow: 2px 2px 5px blue;
	margin-top: 0.5rem;	
	display: flex;
}

/* Clase con borde rojo para las cajas */
.caja{
	border: 1px dotted red;
}

#izquierda{
	width: 80%;
	height: 100%;
	margin-right: 0.5rem;
	padding: 0.5rem;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}

#caja_grande{
	display: flex;
}

.contenido{
	flex-grow: 1;
}

#derecha{
	border: 1px solid black;
	width: 20%;
	height: 100%;	
}

/* Altura de las cajas con contenido */
#caja_pequeña {
	height: 30%;
	margin-bottom: 0.5rem;
}

#caja_grande{
	height: 70%;
}

/* Estilos del pie de página */
#pie{
	margin-top: 0.5rem;
}


@media all and (max-width: 992px){
	#caja_grande{
		flex-direction: column;
	}
	
	.contenido:nth-child(1){
		margin-bottom: 0.5rem;
	}
}

@media all and (max-width: 768px){
	#cabecera{
		justify-content: center;
		align-items: center;
	}
	.menu{
		flex-direction: column;
	}
}

@media all and (max-width: 544px){
	#derecha{
		display: none;
	}
	#izquierda{
		width: 100%;
		margin-right: 0;
	}
}