/* Añadir los estilos necesarios para que la página web se muestre como en la imagen */
table{
    width: 100%;
}

/* No se porque el selector no reconoce la pseudoclase first-child, no me cambia nada en la pag web*/
p:first-of-type {             
    font-style: italic;
    font-weight: bold;
    text-indent: 2em;
}

#consejo {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: rgba(167, 164, 0, 0.589);
    color: blueviolet;
}

#textolinea{
    font-variant: small-caps;
    text-transform: capitalize;
    background-color: rgb(248, 198, 179);
    color: blueviolet;
    text-decoration: underline;
}

h3 {
    color: rgb(255, 245, 211);
    background-color: rgb(124, 98, 40);
}

.clase{
    font-style: italic;
    font-weight: unset;
    color: blueviolet;
}

#idparaestilo{
    color: white;
    background-color: rgb(165, 121, 206);
    word-spacing: 0.7em;
    letter-spacing: 5px;
}