*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-juego{
    background-color: lightcoral;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cabecera{
    margin-top: 40px;
    width: 80vmin;
    background-color: #CCC;
}

.cabecera ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.cabecera ul li p{
    font-size: 1.5rem;
    display: inline;
}

#tablero{
    margin-top: 40px;
    background-color: #CCC;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snakeHead{
    background-image: url(../img/snakeHead.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.snake {
    background-color: rgb(157, 247, 157);
    border: .25vmin solid black;
}
  
.apple {
    background-image: url(../img/apple.png);
    background-repeat: no-repeat;
    background-size: contain;
 }