*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-instrucciones{
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
    z-index: 1;
}

.hijo-instrucciones{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    background-color: lightcoral;
    padding: 3rem;
}

.titulo{
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.controles ul{
    list-style: none;
}

.controles ul li{
    margin: 1rem 0;
}

.boton-start{
    font-size: 2rem;
    cursor: pointer;
}