*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-juego{
    background-color: lightcoral;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.cabecera{
    margin-top: 40px;
    width: 500px;
    background-color: blue;
}

.cabecera ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecera ul li p{
    display: inline;
}

.grid{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: lightblue;
}

.grid div{
    width: 50px;
    height: 50px;
}

.snake {
    background-color: lightgreen;
}
  
.apple {
    background-color: red;
 }