*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 90%;
    position: relative;
    margin: 20px auto;
    height: 90vh;
    background-color: rgb(255, 176, 220);
}
.fijo{
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 200px;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.movil{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    position: relative;
    top: 0;
    left: 0;
}

.num{
    position: absolute;
    right: 5%;
    bottom: 5%;
    padding: 3px;
    width: 70px;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid black;
    background-color:  rgb(255, 176, 220);
}