*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-all{
    width: 100%;
    max-width: 800px;
    height: 280px;
    background-color: lightgreen;
    border: 3px solid lightgreen;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.container{
    width: 100%;
    max-width: 790px;
    height: 80px;
    background-color: grey;
}

.container:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.item{
    position: relative;
    width: 140px;
    height: 50px;
    background-color: lightsalmon;
    text-align: center;
}

.item p{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container:nth-child(1) .item:nth-child(3){
    align-self: flex-start;
}

.container:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.container:nth-child(2) .item:nth-child(3){
    align-self: center;
}

.container:nth-child(3){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container:nth-child(3) .item:nth-child(1){
    flex-basis: 50px;
}

.container:nth-child(3) .item:nth-child(2){
    flex-basis: 40px;
}

.container:nth-child(3) .item:nth-child(3){
    flex-basis: 60px;
}

.container:nth-child(3) .item:nth-child(4){
    flex-basis: 70px;
}

.container:nth-child(3) .item:nth-child(5){
    flex-basis: 20px;
}