.cabecera{
    left: 2.5%;
    border-radius: 1em;
    width: 95%;
    height: 120px;
    background-image: linear-gradient(green 80%, yellow);
    margin: auto auto;
}
h2{
    display: block;
    width: 40%;
    padding-top: 1em;
    margin-left: 1em;
    font-size: 2.2em;
}
#web{
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 2.2em;
    padding: 0;
    font-size: 0.5em;
    padding-top: -1em;
}
li{
    list-style: none;
    float: left;
}
ul{
    float: right;
    margin-right: 3em;
    margin-top: -1.8em;
}
li a{
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 0.4em;
    padding: 0 2em;
    margin: 0 0.1em;
    background-image: linear-gradient(to right, green, white, green);
}
li:hover{
    font-weight: bold;
}
