*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    margin: 20px;
    width: 100%;
    max-width: 1000px;
    height: 150px;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container2{
    margin: 20px;
    width: 100%;
    max-width: 1000px;
    height: 150px;
    background-color: lightgreen;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}

.contenido{
    width: 150px;
    height: 50px;
    background-color: lightsalmon;
    padding: 20px;
    text-align: center;
    color: white;
}