FlowPane{
	/*PROPERTIES */
	-fx-row-valignment: center;
	-fx-column-halignment: right;
	-fx-alignment: center ;
	-fx-orientation: vertical;
	
	/*LAYOUT */
	-fx-hgap: 20;
	-fx-vgap: 20;
}

#Boton1{
	-fx-padding: 18;
}

#Boton2{
	-fx-background-radius: 0;
	-fx-border-color: #e5e5e5;
	-fx-padding: 3px;
}