*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
}

.hijo{
    background-color: brown;
    color: white;
    height: 100px;
}

.imagen{
    background-color: blue;
    background-image: url(../img/opera-small.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 38vh;
    margin-bottom: 0.5em;
}

@media all and (min-width: 768px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .imagen{
        grid-column: 1/3;
        background-image: url(../img/opera-medium.jpg);
    }
}

@media all and (min-width: 992px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
    .imagen{
        grid-column: 1/4;
        background-image: url(../img/opera-large.jpg);
    }
    .hijo:nth-child(5){
        grid-column: 2/3;
    }
}