p{
    font-size: 1.2rem;
    font-weight: bold;
    display: none;
}

p:nth-child(2){
    background-color: yellow;
}

p:nth-child(3){
    background-color: purple;
}

p:nth-child(4){
    background-color: orange;
}

p:nth-child(5){
    background-color: green;
}
