.main{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#cabecera{
    display: flex;
    align-items: center;
    border-top: 2px solid orange;
    width: 99%;
    height: 10%;
    margin: 0px;
    box-shadow: 0px 0.8vh 4vh;
}
#menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-top: 2px solid orange;
    box-shadow: 0px 0.8vh 4vh;
    width: 99%;
    height: 30%;
    margin: 0px;
}
#pie{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid orange;
    box-shadow: 0px 0.8vh 4vh;
    width: 99%;
    height: 55%;
    margin: 0px;
}
#compania{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 80%;
    margin-left: 1%;
    background-image: url(img/icono.PNG);
    background-repeat: no-repeat;
    background-size: 7vh;
    background-position: 2.5vw;
}
#home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    text-align: right;
    width: 30%;
    height: 50%;
    margin-left: 35%;
}
#apartados{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 25%;
    margin-left: 1%;
}
.apartado{
    box-shadow: 0px 0.5vh 2vh;
    width: 100%;
    height: 20%;
    text-align: right;
    background-image: url(img/flecha.png);
    background-repeat: no-repeat;
    background-size: 3vh;
    background-position: 1vh 0.5vh;
}
#equipo{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: 0px 0.5vh 2vh;
    height: 80%;
    width: 63%;
    margin-left: 10%;
    background-image: url(img/equipo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 168, 168, 0.747);
    height: 25%;
    width: 30%;
    margin-bottom: 2%;
    margin-right: 2%;
}
#arriba{
    display: flex;
    width: 98%;
    height: 80%;
    margin-top: 1%;
}
#abajo{
    display: flex;
    align-items: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid orange;
    box-shadow: 0px 0.5vh 2vh;
    width: 98%;
    height: 10%;
    margin-top: 1%;
}
#izq_pie{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}
#dcha_pie{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 100%;
    margin-left: 1%;
}
#arr_izq{
    display: flex;
    border-bottom: 2px solid orange;
    flex-direction: column;
    box-shadow: 0px 0.5vh 2vh;
    width: 100%;
    height: 48%;
}
#aba_izq{
    display: flex;
    flex-direction: column;
    border-top: 2px solid grey;
    box-shadow: 0px 0.5vh 2vh;
    width: 100%;
    height: 48%;
    margin-top: 1%;
}
#arr_dcha{
    display: flex;
    flex-direction: column;
    border-top: 2px solid orange;
    box-shadow: 0px 0.5vh 2vh;
    width: 100%;
    height: 70%;
}
#aba_dcha{
    display: flex;
    flex-direction: column;
    border-top: 2px solid grey;
    box-shadow: 0px 0.5vh 2vh;
    width: 100%;
    height: 27%;
    margin-top: 2%;
}
#name{
    display: block;
    font-size: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    color: grey;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 30%;
    height: 50%;
}
#slogan_cabecera{
    margin-top: 1vh;
    display: block;
    font-size: 2vh;
    color: grey;
    height: 50%;
    margin-left: 45%;
}
#casa{
    height: 100%;
    font-size: 3vh;
    background-image: url(img/home.png);
    background-repeat: no-repeat;
    background-size: 7vh;
    background-position: 3vw 2.5vh;
}
#lupa{
    height: 100%;
    font-size: 3vh;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 4vh;
    background-position: 3.2vw 2.5vh;
}
#web{
    height: 100%;
    font-size: 3vh;
    background-image: url(img/siteweb.png);
    background-repeat: no-repeat;
    background-size: 4vh;
    background-position: 2.5vw 2.8vh;
}
#home div p:hover{
    font-weight: bold;
    color: green;
}
.apartado a{
    display: block;
    font-size: 3vh;
    margin-top: 1%;
    text-decoration: none;
    margin-right: 1%;
    text-transform: capitalize;
    font-variant: small-caps;
    color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.apartado:hover{
    background-color: lightgreen;
}
#slogan p{
    display: block;
    font-size: 3vh;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    font-variant: small-caps;
}
div.title{
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
    border-bottom: 2px solid lightgrey;
    background-image: url(img/guion.png);
    background-repeat: no-repeat;
    background-size: 5vh;
}
div.text{
    height: 80%;
    background-image: url(img/edificio.jpg);
    background-repeat: no-repeat;
    background-size: 20vh;
    background-position-y: center;
    background-position-x: 5vh;

}
.title p{
    display: block;
    margin-left: 3%;
    font-size: 3vh;
    text-transform: capitalize;
    font-variant: small-caps;
    color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text p{
    display: block;
    margin-top: 0;
    line-height: 2vh;
    font-size: 1.8vh;
    margin-left: 20%;
    margin-bottom: 1vh;
    font-family: 'Times New Roman', Times, serif;
}
p.titulo{
    color: orange;
    font-weight: bold;
    margin-bottom: 0;
}
.texto{
    display: flex;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}
.cajas{
    width: 30%;
    height: 60%;
    background-color: rgb(228, 228, 228);
    border-radius: 1vh;
    text-align: center;
}
.cajas p, .cajas a{
    display: block;
    line-height: 2vh;
    font-size: 1.5vh;
    margin-top: 0;
    margin-bottom: 0;
    color: grey;
}
.cajas a{
    text-align: left;
    margin-left: 4%;
    color: orange;
}
.cajas p.titulo{
    color: orange;
    font-weight: bold;
    margin-bottom: 0;
}
#arr_dcha .title p{
    margin-left: 10%;
}
#arr_dcha .title{
    background-position: 0.6vh 0vh;
    height: 13%;
}
#arr_dcha .texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
}
.cajas_dcha{
    width: 100%;
    height: 30%;
}
.cajas_dcha p{
    display: block;
    font-size: 2vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
}
#a_news a{
    display: block;
    font-size: 2.5vh;
    margin-left: 2%;
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
}
#a_news a:hover{
    font-size: 2.6vh;
    color: rgb(152, 0, 182);
}
#aba_dcha .title{
    background-position: 0.6vh -1vh;
}
#aba_dcha .title p{
    margin-left: 10%;
}
#formu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
#formu div{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#email{
    display: block;
    width: 19em;
    height: 1.5em;
    font-size: 2vh;
    box-shadow: 0.5vh 0.5vh 2vh;
}
#boton{
    width: 10em;
    height: 2em;
    display: block;
    font-size: 2vh;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 0.5em;
}
#abajo p{
    display: block;
    color: grey;
    font-size: 2.2vh;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1%;
}