#cabecera{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    box-shadow: 0px 5px 20px;
}
.hr{
    margin-top: 0px;
    border: 2px solid orange;
}
#logo{
    position: relative;
    left: 10px;
    top: 8px;
    max-width: 50px;
    max-height: 50px;
}
#nombre_compania{
    position: relative;
    top: -50px;
    left: 80px;
    width: 200px;
    height: 60px;
}
#nombre_compania p:first-of-type{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#slogan{
    margin-top: 0px;
    font-size: 1em;
    font-family: monospace;
    margin-left: 50px;
}